@page "/secret"
@using TestApp.Web.HelperClasses
@attribute [Authorize(Roles = $"{AppData.ROLE_BATMAN}")]

<PageTitle>Secret</PageTitle>
<img src="images/batman.jpg" alt="You are batman!!!">
<p>You can only see this if you have the '@($"{AppData.ROLE_BATMAN}")' role</p>